@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    overflow-x: hidden;
}

/* top container */
#top {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: contain;
    background-color: hsl(193, 100%, 96%);
}

nav {
    position: absolute;
    top: 2rem;
    width: 90%;
    margin: 0 auto;
}

.padding1 {
    width: 90%;
    margin: 0 auto;
}

.mr-auto {
    font-size: 13px;
    border-radius: 2rem;
    padding:0.5rem 2.2rem;
    /* border: 1px solid #ccc; */
    box-shadow: 1px 1px 10px #ccc;
}

.mr-auto:hover {
    background-color: #fff;
}

.build h2 {
    justify-content: left;
    font-size: 55px;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.build p {
    margin-bottom: 1.5rem;
    font-size: 21.5px;
}

.btn-danger{
    border-radius: 2rem;
    padding: 1rem 3rem;
    margin-bottom: -1rem;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    box-shadow: 1px 1px 10px #ccc;
}

.btn-danger:hover {
    background-color: hsl(322, 100%, 77%);
    border: 1px solid hsl(322, 100%, 77%);
}

.mock {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

/* 1st two-column */
.container-fluid-2 {
    width: 85%;
    margin: 10rem auto 3rem auto;
    border: 1px transparent #ccc;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #ccc;
}

.padding2 {
    width: 90%;
    margin: 0 auto; 
}

.grow h3 {
    font-size: 32px;
    margin-top: 11.5rem;
    margin-bottom: 1.5rem;
}

.grow p {
    font-size: 18px;
}

.grow img {
    position: relative;
    margin: 5rem -5rem 5rem 0rem;
    width: 75%;
    right: -10rem;
}

/* 2nd tw0-column */
.container-fluid-3 {
    width: 85%;
    margin: 1rem auto 3rem auto;
    border: 1px transparent #ccc;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #ccc;
}

.padding3 {
    width: 90%;
    margin: 0 auto; 
}

.flow h3 {
    position: relative;
    font-size: 32px;
    margin-top: 11.5rem;
    margin-bottom: 1.5rem;
    right: -3rem;
}

.flow p {
    position: relative;
    font-size: 18px;
    right: -3rem;
}

.flow img {
    position: relative;
    margin: 5rem 0rem 5rem 0rem;
    width: 75%;
}


/* 3rd two-column */
.container-fluid-4 {
    width: 85%;
    margin: 2rem auto 3rem auto;
    border: 1px transparent #ccc;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #ccc;
}

.padding4 {
    width: 90%;
    margin: 0 auto; 
}

.users h3 {
    font-size: 32px;
    margin-top: 11.5rem;
    margin-bottom: 1.5rem;
}

.users p {
    font-size: 18px;
}

.users img {
    position: relative;
    margin: 5rem -5rem 5rem 0rem;
    width: 75%;
    right: -10rem;
}


/* jumbotron */
.jumbotron {
    width: 50%;
    margin: 0 auto;
    border: 1px transparent #ccc;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #fff;
    position: relative;
    top: 5rem;
}

.lead {
    margin: -1rem 0rem 2rem 0rem;
    font-weight: 700;
    font-size: 26px;
}

/* footer */
footer {
    background-color: hsl(192, 100%, 9%);
    height: 50%;
    color: #ccc;
    
}

footer a {
    color: #ccc;
    list-style: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .row {
    position: relative;
    top: 3rem;
    width: 85%;
    margin: 0 auto;
}

.small {
    filter: invert(90%);
    -webkit-filter: (90%);
    margin-top: 7rem;
    margin-left: 9rem;
    width: 10%;
}

#location p {
    position: relative;
    left: 2rem;
    top: -1.4rem;
    font-size: 13px;
    margin-bottom: -2px;
}

.link1  {
    font-size: 13px;
    margin-left: 3rem;
}

.link2 {
    font-size: 13px;
}

.link1 li, .link2 li {
    padding: 10px;
}

.icon a {
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #ccc;
}

.icon a:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.copy {
    font-size: 13px;
    margin-top: 7rem;
}


/* media queries */
/* screen sixe 992px */
@media (max-width: 1240px) {
    .build h2 {
        font-size: 35px;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    
    .build p {
        margin-bottom: 1rem;
        font-size: 15px;
    }
  
    footer {
        height: 60%;
        
    }

}

/* screen sixe 768px */
@media (max-width: 768px) {
    #top {
        background-image: url(images/bg-hero-mobile.svg);
        background-size: contain;
        background-color: hsl(193, 100%, 96%);
    }

    .build {
        text-align: center;
    }

    .build h2 {
        font-size: 32px;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    
    .build p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18.5px;
    }

    nav img {
        width: 50%;
    }

    .mr-auto {
        font-size: 10px;
        padding:0.3rem 1.5rem;
    }

    .btn-danger{
        padding: 0.7rem 4.5rem;
    }

    /* 1st two-column and 3rd two-column */
    .container-fluid-2{
        width: 90%;
        margin: 5rem auto 1rem auto;
        height: 85%;
    }

    .container-fluid-4 { 
        width: 90%;
        margin: 2rem auto 3rem auto;
        height: 85%;
    }

    .padding2, .padding4 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .grow, .users {
        position: relative;
        top: 14rem;
        text-align: center;
    }
    
    .grow h3, .users h3 {
        font-size: 32px;
    }
    
    .grow p, .users p {
        font-size: 15px;
    }
    
    .grow img, .users img {
        position: relative;
        top: -39rem;
        width: 100%;
        left: -2.5rem;
    }

    /* 2nd two-column */
    .container-fluid-3 {
        width: 90%;
        margin: 2rem auto 1rem auto;
        height: 85%;
    }
    
    .padding3 {
        width: 80%;
        margin: 0 auto; 
    }

    .flow {
        top: -11rem;
        text-align: center;
        
    }

    .flow h3 {
        left: -0.5rem;
    }
    
    .flow p {
        left: -0.5rem;
        font-size: 15px;
    }
    
    .flow img {
        position: relative;
        margin: 5rem 0rem 5rem 0rem;
        width: 100%;
        top: 11rem;
    }

    /* jumbotron */
    .jumbotron {
        width: 95%;
        padding-bottom: 3rem;
    }
    
    .lead {
        margin: 0rem 0rem 2rem 0rem;
        font-size: 19px;
    }

    /* footer */
  
    footer {
        height: 100%;
        
    }

    footer a {
        color: #ccc;
        list-style: none;
    }
    
    footer a:hover {
        color: #fff;
        text-decoration: underline;
    }
    
    footer .row {
        position: relative;
        top: 3rem;
        width: 85%;
        margin: 0 auto;
    }
    
    .small {
        margin-left: 0rem;
        width: 30%;
    }
    
    #location p {
        left: -1.8rem;
    }

    #location img {
        margin-left: -3.8rem;
    }
    
    .link1  {
        margin-left: -5.8rem;
        margin-bottom: 0rem;
    }
    
    .link2 {
        margin-left: -5.8rem;
    }
    
    .link1 li, .link2 li {
        padding: 10px;
    }
    
    .icon{
        margin-left: 8rem;
        margin-top: 2rem;
    }
    
    .copy {
        position: relative;
        left: -3.5rem;
        font-size: 11px;
        margin-top: 2rem;
    }
}

/* screen sixe 576px */
@media (max-width: 576px) {
    #top {
        background-image: url(images/bg-hero-mobile.svg);
        background-size: contain;
        background-color: hsl(193, 100%, 96%);
    }

    .build {
        text-align: center;
    }

    .build h2 {
        font-size: 32px;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    
    .build p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18.5px;
    }

    nav img {
        width: 50%;
    }

    .mr-auto {
        font-size: 10px;
        padding:0.3rem 1.5rem;
    }

    .btn-danger{
        padding: 0.7rem 4.5rem;
    }

    /* 1st two-column and 3rd two-column */
    .container-fluid-2{
        width: 90%;
        margin: 5rem auto 1rem auto;
        height: 85%;
    }

    .container-fluid-4 { 
        width: 90%;
        margin: 2rem auto 3rem auto;
        height: 85%;
    }

    .padding2, .padding4 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .grow, .users {
        position: relative;
        top: 14rem;
        text-align: center;
    }
    
    .grow h3, .users h3 {
        font-size: 32px;
    }
    
    .grow p, .users p {
        font-size: 15px;
    }
    
    .grow img, .users img {
        position: relative;
        top: -39rem;
        width: 100%;
        left: -2.5rem;
    }

    /* 2nd two-column */
    .container-fluid-3 {
        width: 90%;
        margin: 2rem auto 1rem auto;
        height: 85%;
    }
    
    .padding3 {
        width: 80%;
        margin: 0 auto; 
    }

    .flow {
        top: -11rem;
        text-align: center;
        
    }

    .flow h3 {
        left: -0.5rem;
    }
    
    .flow p {
        left: -0.5rem;
        font-size: 15px;
    }
    
    .flow img {
        position: relative;
        margin: 5rem 0rem 5rem 0rem;
        width: 100%;
        top: 11rem;
    }

    /* jumbotron */
    .jumbotron {
        width: 95%;
        padding-bottom: 3rem;
    }
    
    .lead {
        margin: 0rem 0rem 2rem 0rem;
        font-size: 19px;
    }

    /* footer */
  
    footer {
        height: 100%;
        
    }
    
    .small {
        margin: 9rem 0rem -1.5rem 0rem;
        width: 30%;
    }
    
    #location p {
        left: -1.8rem;
    }

    #location img {
        margin-left: -3.8rem;
    }
    
    .link1  {
        margin-left: -5.8rem;
        margin-bottom: 0rem;
    }
    
    .link2 {
        margin-left: -5.8rem;
    }
    
    .link1 li, .link2 li {
        padding: 10px;
    }
    
    .icon{
        margin-left: 8rem;
        margin-top: 2rem;
    }
    
    .copy {
        position: relative;
        left: -3.5rem;
        font-size: 10px;
        margin-top: 2rem;
    }
}






